.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 92vw;
  background-color: #d9d9d9;
  padding: 20px;
  margin-top: 5%;

  border-right: 1px solid #000000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 50%;
}

.sidebar li a {
  display: block;
  color: #000;
  padding: 10px;
  text-decoration: none;
}

.sidebar li a:hover {
  background-color: #ddd;
}

.sidebar2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 92vw;
  background-color: #d9d9d9;
  padding: 20px;
  margin-top: 5%;

  border-left: 1px solid #000000;
}
